bot_name: your-bot-name
cmdprefix: "."
credentials:
  pagerduty_api_key: "your-pagerduty-api-key"
  slack_bot_token: "your-slack-bot-token",
  slack_app_level_token: "your-slack-app-level-token"
plugins:
  oncall:
    default_schedule_id: "your-pagerduty-schedule-id"
debug: false
logfile: "/path/to/your-bot.log"
