{
    "bot_name": "your-bot-name",
    "debug": false,
    "logfile": "/path/to/your-bot-name.log",
    "credentials": {
        "pagerduty_api_key": "your-pagerduty-api-key",
        "slack_api_key": "your-slack-bot-api-key",
        "slack_app_level_token": "your-slack-app-level-token"
    },
    "slack_team": "your-slack-team-name",
    "cmdprefix": ".",
    "plugins": {
        "oncall": {
            "default_schedule_id": "your-pagerduty-schedule-id"
        }
    }
}
